body {
  background: rgb(157, 174, 190);
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: aliceblue;
  border-style: solid;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
label {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
#textBox {
  text-align: center;
}

#submit {
  border-width: 2px;
  border-style: none;
  cursor: pointer;
  background-color: aqua;
}

#submit:hover {
  background-color: rgb(1, 139, 139);
}
